---
layout: archive
title: "Talks"
lead: "Keynotes, training sessions and media appearances."
permalink: /talks/
author_profile: false
raw_body: true
---

{% include base_path %}

{% assign talks = site.talks | sort: 'date' | reverse %}

<ol class="pub-index">
  {% for talk in talks %}
    <li class="pub-index__item">
      <span class="pub-index__year">{{ talk.date | date: "%b %Y" }}</span>
      <div class="pub-index__body">
        <h3><a href="{{ base_path }}{{ talk.url }}">{{ talk.title }}</a></h3>
        <p class="pub-index__meta">
          {% if talk.venue %}<em>{{ talk.venue }}</em>{% endif %}
          {% if talk.type %}<span class="chip">{{ talk.type }}</span>{% endif %}
          {% if talk.location %}<span>{{ talk.location }}</span>{% endif %}
        </p>
        {% if talk.excerpt %}<p class="pub-index__meta">{{ talk.excerpt | strip_html | truncate: 180 }}</p>{% endif %}
      </div>
    </li>
  {% endfor %}
</ol>

{% if site.talkmap_link == true %}
  <p><a class="btn btn--ghost" href="{{ base_path }}/talkmap.html">See a map of all the places I have given a talk</a></p>
{% endif %}
