---
layout: archive
permalink: /year-archive/
title: "Notes"
lead: "Occasional posts about statistics, teaching and data."
author_profile: false
raw_body: true
redirect_from:
  - /wordpress/blog-posts/
---

{% include base_path %}

<ol class="pub-index">
  {% for post in site.posts %}
    <li class="pub-index__item">
      <span class="pub-index__year">{{ post.date | date: "%d %b %Y" }}</span>
      <div class="pub-index__body">
        <h3><a href="{{ base_path }}{{ post.url }}">{{ post.title }}</a></h3>
        {% if post.excerpt %}<p class="pub-index__meta">{{ post.excerpt | strip_html | truncate: 180 }}</p>{% endif %}
      </div>
    </li>
  {% endfor %}
</ol>
