
# Welcome to Jekyll!
locale                   : "en-US"
site_theme               : "default"
title                    : "Samir Orujov / Academic Portfolio"
title_separator          : "-"
name                     : &name "Samir Orujov"
description              : &description "Assistant Professor of Mathematics and Statistics specializing in time series analysis, econometrics, and machine learning"
url                      : https://sorujov.github.io
baseurl                  : ""
repository               : "sorujov/sorujov.github.io"

author:
  avatar           : "https://sorujov.github.io/images/profile.jpg"
  name             : "Samir Orujov"
  pronouns         :  # Add your pronouns if you want
  bio              : "Assistant Professor at ADA University with expertise in Python and R, driving innovative research in time series analysis and machine learning."
  location         : "Baku, Azerbaijan"
  employer         : "ADA University"
  uri              :  # Personal website URL if you have one
  email            : "sorujov@ada.edu.az"

  # Academic websites
  academia         : 
  arxiv            : 
  googlescholar    : # Add your Google Scholar profile URL if you have one
  inspire-hep      :
  impactstory      :
  orcid            : "https://orcid.org/0009-0004-9708-2109"
  semantic         :
  pubmed           : 
  researchgate     : # Add your ResearchGate profile if you have one
  scopus           : # Add your Scopus profile if you have one

  # Repositories and software development
  bitbucket        :
  codepen          :
  dribbble         :
  github           : "sorujov"
  kaggle           :
  stackoverflow    :

  # Social media
  artstation       :
  bluesky          :
  facebook         :
  flickr           :
  foursquare       :
  goodreads        :
  google_plus      :
  keybase          :
  instagram        :
  lastfm           :
  linkedin         : "samir-orujov-231765288"
  mastodon         :
  medium           :
  pinterest        :
  soundcloud       :
  steam            :
  telegram         :
  tumblr           :
  twitter          :
  vine             :
  weibo            :
  wikipedia        :
  xing             :
  youtube          :
  zhihu            :

# Footer Scripts - Using QRious library (CSP-safe)
footer_scripts:
  - https://cdn.jsdelivr.net/npm/qrious@4.0.2/dist/qrious.min.js
  # - https://cdn.jsdelivr.net/npm/qrcodejs@1.0.0/qrcode.min.js
  # - /assets/js/attendance.js

publication_category:
  books:
    title: 'Books'
  manuscripts:
    title: 'Journal Articles'
  conferences:
    title: 'Conference Papers'

teaser                   :
breadcrumbs              : false
words_per_minute         : 160
future                   : true
read_more                : "disabled"
talkmap_link             : false
comments:
  provider               :
  disqus:
    shortname            :
  discourse:
    server               :
  facebook:
    appid                :
    num_posts            :
    colorscheme          :
staticman:
  allowedFields          : ['name', 'email', 'url', 'message']
  branch                 : "gh-pages"
  commitMessage          : "New comment."
  filename               : comment-{@timestamp}
  format                 : "yml"
  moderation             : true
  path                   : "_data/comments/{options.slug}"
  requiredFields         : ['name', 'email', 'message']
  transforms:
    email                : "md5"
  generatedFields:
    date:
      type               : "date"
      options:
        format           : "iso8601"
atom_feed:
  hide                   : false
  path                   :

google_site_verification :
bing_site_verification   :
alexa_site_verification  :
yandex_site_verification :

twitter:
  username               :
facebook:
  username               :
  app_id                 :
  publisher              :
og_image                 : "/images/profile.jpg"
og_description           : "Assistant Professor of Mathematics and Statistics specializing in time series analysis, econometrics, and machine learning"
social:
  type                   : Person
  name                   : "Samir Orujov"
  links                  : # Add your public social/profile links as an array

analytics:
  provider               : "google-analytics-4"  # Enable Google Analytics 4
  google:
    tracking_id          : "G-JEP75NQ7PS"

include:
  - .htaccess
  - _pages
  - files
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .github
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/_main.js
  - assets/js/plugins
  - assets/js/vendor
  - CHANGELOG
  - Capfile
  - config
  - Dockerfile
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - local
  - log
  - node_modules
  - package.json*
  - Rakefile
  - README
  - tmp
  - vendor
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

collections:
  teaching:
    output: true
    permalink: /:collection/:path/
  publications:
    output: true
    permalink: /:collection/:path/
  portfolio:
    output: true
    permalink: /:collection/:path/
  talks:
    output: true
    permalink: /:collection/:path/
  poems:
    output: true
    permalink: /:collection/:path/

defaults:
  - scope:
      path: ""
      type: home
    values:
      layout: single
      author_profile: true
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
  - scope:
      path: ""
      type: teaching
    values:
      layout: single
      author_profile: true
      share: true
      comments: true
  - scope:
      path: ""
      type: publications
    values:
      layout: single
      author_profile: true
      share: true
      comments: true
  - scope:
      path: ""
      type: portfolio
    values:
      layout: single
      author_profile: true
      share: true
      comment: true
  - scope:
      path: ""
      type: talks
    values:
      layout: talk
      author_profile: true
      share: true
  - scope:
      path: ""
      type: poems
    values:
      layout: single
      author_profile: true
      share: true
      comments: true
  - scope:
      path: "index.html"
    values:
      layout: single
      author_profile: true

sass:
  sass_dir: _sass
  style: compressed

permalink: /:categories/:title/
timezone: Asia/Baku

plugins:
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-redirect-from
  - jemoji

whitelist:
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-redirect-from
  - jemoji

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

compress_html:
  clippings: all
  ignore:
    envs: development
